.chartBar {
	position: relative;
	width: 100%;
	height: auto;
	background-color: #fbfbfb;
	padding: 1.75vw 2.01vw 0 40px;
	&__title {
		position: absolute;
		top: 1.73vw;
		left: 2.77vw;
		font-size: 1.04vw;
		font-weight: 500;
		height: 1.04vw;
		display: inline-block;
	}
}
.toolpit {
	min-width: 39px;
	min-height: 63px;
	padding: 0.27vw;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background-color: #e60000;
	&__text {
		color: #fff;
		font-size: 0.48vw;
		font-weight: 500;
	}
}
