.information {
	width: 100%;
	height: 20%;
	background-color: #fbfbfb;
	display: flex;
	align-items: center;
	padding: 11%;
	border-radius: 5%;
	&__logo {
		aspect-ratio: 1 / 1;
		margin-right: 10%;
		height: 100%;
	}
	&__text {
		line-height: 2.34vh;
		&--weight {
			font-weight: 700;
			font-size: 1.38vw;
			color: #282d30;
		}
		&--type {
			font-weight: 500;
			font-size: 0.97vw;
			color: #74798c;
		}
	}
}
