.home {
	position: absolute;
	top: 91px;
	left: 117px;
	right: 0;
	padding: 6vh 6.8vw;

	&__title {
		font-size: 48px;
		font-weight: 500;
		&--name {
			color: red;
		}
	}
	&__dashboard {
		display: flex;
		justify-content: space-between;

		&__charts {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			&--bottom {
				display: flex;
				justify-content: space-between;
				align-items: center;
			}
		}
		&__informations {
			width: 258px;
			height: 616px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
		}
	}
}
