header {
	width: 100vw;
	height: 8.88vh;
	background-color: #000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 2.08vw;

	.logo {
		max-width: 12.36vw;
		max-height: 5.95vh;
	}
	nav {
		width: 100%;
		ul {
			display: flex;
			width: 100%;
			justify-content: space-around;
			align-items: center;
		}
	}
}
