.error {
	position: absolute;
	top: 8.88vh;
	left: 8.12vw;
	width: 91.88vw;
	padding: 7.1% 8.08%;
	color: red;
	font-weight: bold;
	display: flex;
	flex-direction: column;
	align-items: center;
	&__title {
		font-size: 124px;
	}
	&__text {
		font-size: 24px;
	}
}
